<!DOCTYPE html>
<html>
<head>
	<title>Cyrus Forbes | Resume</title>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
	<link href="icons/font/css/open-iconic.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
	<div class="bg"></div>
	<div class="container">
		<div class="resume">

			<div class="title">
				<h1>Cyrus Forbes</h1>
				<h2>Web Developer, Software Engineer</h2>
			</div>

			<div class="contact">
				<span class="oi" data-glyph="envelope-closed" title="Email" aria-hidden="true"></span> forbescyrus@gmail.com<br>
				<span class="oi" data-glyph="phone" title="Phone" aria-hidden="true"></span> (415) 747-4003<br>
				<span class="oi" data-glyph="location" title="Address" aria-hidden="true"></span> 1200 Mariner Way
			</div>

			<div class="summary">
				<h3>Summary</h3>
				<p>I am a programmer with a passion for problem solving. Most of my experience is in web development, using Node.js and MongoDB, although I love to apply programming to every field. Artifical intelligence has caught my eye as a field that could benefit the world in many different ways, so I've decided to focus on learning about deep learning, neural networks, and sparse distributed representations.</p>
			</div>

			<div class="education">
				<h3>Education</h3>

				<div class="block">
					<div class="block-left">
						<div class="block-left-title">Northwestern University</div>
						<div class="block-left-caption">2013 - 2017</div>
					</div>
					<div class="block-right">
						<div class="block-right-title">BS in Computer Science</div>
						<div class="block-right-caption">Main focus in artificial intelligence. Specifically interested in neural networks, deep learning, and sparse distributed representations.</div>
						<div class="block-right-caption">Currently enrolled in McCormick School of Engineering with themes in psychology and economics.</div>
					</div>
				</div>
			</div>


			<div class="experience">
				<h3>Experience</h3>

				<div class="block">
					<div class="block-left">
						<div class="block-left-title">Lucid Goose Designs</div>
						<div class="block-left-caption">2014 - Present</div>
					</div>
					<div class="block-right">
						<div class="block-right-title">Co-Founder, Software Developer</div>
						<div class="block-right-caption">Co-founded a software development company with two partners based in Chicago. We approached clients by cold-calling as well as approaching them in person. We help bring these companies into the future by offering tech consulting and providing custom software for an affordable price.</div>
						<div class="block-right-caption">We create our software using the traditional MVC model using Node.js, MongoDB, AngularJS, and sometimes node-webkit. I focus mainly on building the backend (API using node/mongodb) and deployment (local/online servers) using docker.</div>
						<div class="block-right-caption">We grossed $40,000 within our first 6 months, and hope to start expanding to other large cities soon.</div>
					</div>
				</div>

				<div class="block">
					<div class="block-left">
						<div class="block-left-title">Aditazz, Inc.</div>
						<div class="block-left-caption">Summer 2014</div>
					</div>
					<div class="block-right">
						<div class="block-right-title">Intern</div>
						<div class="block-right-caption">Created and deployed internal web applications for the company using ruby, node.js, and mongodb. Got to experience start-up culture and see how a successful start-up works from the inside.</div>
					</div>
				</div>

				<div class="block">
					<div class="block-left">
						<div class="block-left-title">Northwestern University IT</div>
						<div class="block-left-caption">2014</div>
					</div>
					<div class="block-right">
						<div class="block-right-title">Tech Support</div>
						<div class="block-right-caption">Worked tech support over the phone. Gained experience communicating with customers and gained knowledge about enterprise networks such as the one at Northwestern University.</div>
					</div>
				</div>

				<div class="block">
					<div class="block-left">
						<div class="block-left-title">Gecko Development</div>
						<div class="block-left-caption">2013 - 2014</div>
					</div>
					<div class="block-right">
						<div class="block-right-title">Co-Founder, Web Designer</div>
						<div class="block-right-caption">Co-founded a web design company with one parter. We built up clients and rented an office in downtown San Francisco to work out of full time. Gained experience working with clients, iterating designs, and managing multiple projects.</div>
					</div>
				</div>
			</div>

			<div class="skills">
				<div class="tech-skills skill-column">
					<h3>Technical Skills</h3>

					<div class="skill">
						<div class="skill-title">Node.js</div>
						<div class="skill-stars">
							<span class="oi star-active" data-glyph="star" aria-hidden="true">
							<span class="oi star-active" data-glyph="star" aria-hidden="true">
							<span class="oi star-active" data-glyph="star" aria-hidden="true">
							<span class="oi star-active" data-glyph="star" aria-hidden="true">
							<span class="oi star-active" data-glyph="star" aria-hidden="true">
						</div>
					</div>

					<div class="skill">
						<div class="skill-title">MongoDB</div>
						<div class="skill-stars">
							<span class="oi star-active" data-glyph="star" aria-hidden="true">
							<span class="oi star-active" data-glyph="star" aria-hidden="true">
							<span class="oi star-active" data-glyph="star" aria-hidden="true">
							<span class="oi star-active" data-glyph="star" aria-hidden="true">
							<span class="oi star-disabled" data-glyph="star" aria-hidden="true">
						</div>
					</div>

					<div class="skill">
						<div class="skill-title">AngularJS</div>
						<div class="skill-stars">
							<span class="oi star-active" data-glyph="star" aria-hidden="true">
							<span class="oi star-active" data-glyph="star" aria-hidden="true">
							<span class="oi star-active" data-glyph="star" aria-hidden="true">
							<span class="oi star-active" data-glyph="star" aria-hidden="true">
							<span class="oi star-disabled" data-glyph="star" aria-hidden="true">
						</div>
					</div>

					<div class="skill">
						<div class="skill-title">PolymerJS</div>
						<div class="skill-stars">
							<span class="oi star-active" data-glyph="star" aria-hidden="true">
							<span class="oi star-active" data-glyph="star" aria-hidden="true">
							<span class="oi star-active" data-glyph="star" aria-hidden="true">
							<span class="oi star-disabled" data-glyph="star" aria-hidden="true">
							<span class="oi star-disabled" data-glyph="star" aria-hidden="true">
						</div>
					</div>

					<div class="skill">
						<div class="skill-title">Backbone</div>
						<div class="skill-stars">
							<span class="oi star-active" data-glyph="star" aria-hidden="true">
							<span class="oi star-active" data-glyph="star" aria-hidden="true">
							<span class="oi star-active" data-glyph="star" aria-hidden="true">
							<span class="oi star-disabled" data-glyph="star" aria-hidden="true">
							<span class="oi star-disabled" data-glyph="star" aria-hidden="true">
						</div>
					</div>

					<div class="skill">
						<div class="skill-title">Docker</div>
						<div class="skill-stars">
							<span class="oi star-active" data-glyph="star" aria-hidden="true">
							<span class="oi star-active" data-glyph="star" aria-hidden="true">
							<span class="oi star-active" data-glyph="star" aria-hidden="true">
							<span class="oi star-disabled" data-glyph="star" aria-hidden="true">
							<span class="oi star-disabled" data-glyph="star" aria-hidden="true">
						</div>
					</div>
						
				</div>

				<div class="tech-skills skill-column">
					<h3>Languages</h3>

					<div class="skill">
						<div class="skill-title">Javascript</div>
						<div class="skill-stars">
							<span class="oi star-active" data-glyph="star" aria-hidden="true">
							<span class="oi star-active" data-glyph="star" aria-hidden="true">
							<span class="oi star-active" data-glyph="star" aria-hidden="true">
							<span class="oi star-active" data-glyph="star" aria-hidden="true">
							<span class="oi star-active" data-glyph="star" aria-hidden="true">
						</div>
					</div>
					
					<div class="skill">
						<div class="skill-title">Ruby</div>
						<div class="skill-stars">
							<span class="oi star-active" data-glyph="star" aria-hidden="true">
							<span class="oi star-active" data-glyph="star" aria-hidden="true">
							<span class="oi star-active" data-glyph="star" aria-hidden="true">
							<span class="oi star-active" data-glyph="star" aria-hidden="true">
							<span class="oi star-active" data-glyph="star" aria-hidden="true">
						</div>
					</div>

					<div class="skill">
						<div class="skill-title">Python</div>
						<div class="skill-stars">
							<span class="oi star-active" data-glyph="star" aria-hidden="true">
							<span class="oi star-active" data-glyph="star" aria-hidden="true">
							<span class="oi star-active" data-glyph="star" aria-hidden="true">
							<span class="oi star-active" data-glyph="star" aria-hidden="true">
							<span class="oi star-disabled" data-glyph="star" aria-hidden="true">
						</div>
					</div>

					<div class="skill">
						<div class="skill-title">C/C++</div>
						<div class="skill-stars">
							<span class="oi star-active" data-glyph="star" aria-hidden="true">
							<span class="oi star-active" data-glyph="star" aria-hidden="true">
							<span class="oi star-active" data-glyph="star" aria-hidden="true">
							<span class="oi star-disabled" data-glyph="star" aria-hidden="true">
							<span class="oi star-disabled" data-glyph="star" aria-hidden="true">
						</div>
					</div>

					<div class="skill">
						<div class="skill-title">Java</div>
						<div class="skill-stars">
							<span class="oi star-active" data-glyph="star" aria-hidden="true">
							<span class="oi star-active" data-glyph="star" aria-hidden="true">
							<span class="oi star-active" data-glyph="star" aria-hidden="true">
							<span class="oi star-disabled" data-glyph="star" aria-hidden="true">
							<span class="oi star-disabled" data-glyph="star" aria-hidden="true">
						</div>
					</div>

					<div class="skill">
						<div class="skill-title">Matlab</div>
						<div class="skill-stars">
							<span class="oi star-active" data-glyph="star" aria-hidden="true">
							<span class="oi star-active" data-glyph="star" aria-hidden="true">
							<span class="oi star-active" data-glyph="star" aria-hidden="true">
							<span class="oi star-disabled" data-glyph="star" aria-hidden="true">
							<span class="oi star-disabled" data-glyph="star" aria-hidden="true">
						</div>
					</div>

				</div>

				<div class="tech-skills skill-column">
					<h3>Interests</h3>
					<div class="skill">
						Artificial Intelligence, Problem Solving, Soccer, eSports, Reading
					</div>
				</div>
			</div>

		</div>

		<div class="side-projects">
			<div class="side-project">
				<h3>Random Adventure Time</h3>
				<p>A side project that generates a random Adventure Time episode using ruby, sinatra, and nokogiri. The sinatra gem is used to create a router and the nokogiri gem is used to scape an external website to find a list of all the episodes.</p>
				<a href="/random-at" target="_blank">View Project ></a>
			</div>
		</div>
	</div>
	
</body>
</html>
